[Desktop Entry]
Type=Application
Name=Redict
Exec=redict-qt5
Icon=redict
Comment=A dictionary based on C++/Qt development
Categories=Office;Dictionary;
