[Desktop Entry]
Type=Application
Name=Redict
Exec=dictionary-reborn
Icon=redict
Comment=A dictionary based on C++/Qt development
Categories=Office;Dictionary;
